*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
node_modules
_site
.cache
public
.travis.yml
tmp
psd
**/.module-cache
**/node_modules
**/*.map
jsconfig.json
.sass-cache
.css