*{
    user-select: none;
}
#content {
    height: 300px;
    width: 800px;
    margin: 100px auto;
    position: relative;
    background: lightgoldenrodyellow;
}

#content .number {
    width: 50px;
    background: orangered;
    position: absolute;
    bottom: 0;
}

#content .banner{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}
